body {
    padding-top: 20px;
    background: #f5f7f8;
}

.grid-1 {
    display: grid;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr minmax(160px 1fr);
    grid-gap: 20px;
}

.grid-1 div {
    color: white;
    font-size: 20px;
    padding: 20px;
}

/* Specific item styles */

.item-1 {
    background: #b03532;
}

.item-2 {
    background: #33a8a5;
    position: relative;
    grid-area: 2 / 4;
}

.item-3 {
    background: #30997a;
    grid-area: 3 / 4;
}

.item-4 {
    background: #6a478f;
    grid-area: 3 / 2;
}

.item-5 {
    background: #da6f2b;
}

.item-6 {
    background: #3d8bb1;
    grid-area: 3 / 5;
}

.item-7 {
    background: #e4474a;
}

.item-8 {
    background: #69a433;
}

.item-9 {
    background: #5669a1;
}