.body {
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    font-size: 16px;
}

.header {
    background: salmon;
    height: 3rem;
}

.container {
    display: flex;
    background: lime;
    height: 100%;
}

.footer {
    background: gold;
    height: 3rem;
    margin-top: auto;
}

.menu {
    background: magenta;
    width: 20%;
}

.main {
    background: cyan;
    width: 80%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}